BasedOnStyle: LLVM
IndentWidth: 2
IndentCaseLabels: true
ColumnLimit:     104
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
